/* BODY */
body{
font-family: 'Segoe UI', sans-serif;
margin:0;
background:#f4f8ff;
color:#0a1f44;
}

/* HEADER */
header{
background:#1e3865;
color:white;
display:flex;
align-items:center;
justify-content:center;
position:relative;
padding:20px;
}

.title{
margin:0;
font-size:32px;
letter-spacing:2px;
}

/* LOGIN BUTTON RIGHT */
.login-box{
position:absolute;
right:20px;
background:white;
color:#01040b;
padding:10px 18px;
border-radius:6px;
font-weight:bold;
cursor:pointer;
transition:0.3s;
}

.login-box:hover{
background:#dbe8ff;
}

/* MENU ICON LEFT */
.menu-icon{
position:absolute;
left:20px;
font-size:28px;
cursor:pointer;
}

/* SIDEBAR */
.sidebar{
position:fixed;
top:0;
left:-260px;
width:260px;
height:100%;
background:#151d2a;
color:white;
padding:20px;
transition:0.4s;
z-index:1000;
}

.sidebar select{
width:100%;
padding:10px;
margin-top:20px;
}

/* PROFILE PANEL */
.profile-panel{
display:none;
position:fixed;
right:0;
top:0;
width:320px;
height:100%;
background:white;
padding:20px;
box-shadow:-3px 0 12px rgba(0,0,0,0.2);
}

.profile-panel input{
width:100%;
padding:10px;
margin:10px 0;
border:1px solid #ccc;
border-radius:5px;
}

/* NAVIGATION */
nav{
background:white;
text-align:center;
padding:15px;
box-shadow:0 2px 6px rgba(0,0,0,0.1);
}

nav a{
margin:15px;
font-weight:bold;
cursor:pointer;
color:#3d4f6e;
transition:0.3s;
}

nav a:hover{
color:#3f598a;
}

/* CONTENT */
.content{
padding:40px;
min-height:600px;
}

.page{
display:none;
}

.active{
display:block;
}

/* HEADINGS */
h2{
text-align:center;
font-size:28px;
margin-bottom:20px;
}

/* PARAGRAPH */
p{
font-size:18px;
line-height:1.7;
max-width:900px;
margin:auto;
}

/* FOOTER */
footer{
background:#38393a;
color:white;
text-align:center;
padding:20px;
}
/* LOGIN SIDEBAR PANEL */
.login-sidebar{
position:fixed;
left:-320px;
top:0;
width:320px;
height:100%;
background:#0b3d91;
color:white;
transition:0.4s;
z-index:2000;
}

.login-sidebar.active{
left:0;
}

/* HEADER */
.login-header{
display:flex;
align-items:center;
justify-content:space-between;
background:#082a63;
padding:20px;
font-size:18px;
}

.user-icon{
font-size:22px;
margin-right:10px;
}

.close-btn{
background:none;
border:none;
color:white;
font-size:20px;
cursor:pointer;
}

/* MENU */
.login-menu{
list-style:none;
padding:20px;
}

.login-menu li{
padding:12px 0;
border-bottom:1px solid rgba(255,255,255,0.2);
cursor:pointer;
}

.login-menu select{
width:100%;
padding:10px;
margin-top:10px;
}
